<strong>Olá, {{ user }}</strong>
<p>Welcome. Confira os seus dados de cadastro.</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Password: </strong> {{ password }} <br />
  <br />
  <small>
    O horário está novamente disponível para novos agendamentos.
  </small>
</p>
