<strong>Welcome, {{ user }}</strong>
<p>Check your register data.</p>
<p>
  <strong>Name: </strong> {{ user }} <br />
  <strong>Email: </strong> {{ email }} <br />
  <strong>Password: </strong> {{ password }} <br />
</p>
